/* DARK MODE */
.dark{
    background-color:rgb(21, 32, 43);
    color:white;
    font-size: 19px;
}

.dark textarea{
    background-color:rgb(21, 32, 43);
    color: white;
}

.dark textarea::placeholder{
    color: rgb(136,153,166);
}

.dark a.deco-none{
    color:white !important;
    text-decoration:none;
}

.dark a.deco-none:hover{
    background-color: rgb(28,137,205);
}

.dark .modal-content{
    background-color: rgb(21, 32, 43);
 }

 .dark .right_profiles{
    background-color:rgb(25,39,52);
 }
 /*------------*/

 /* LIGHT MODE */
 .light{
    background-color: white;
    color: black;
    font-size: 19px
}

.light textarea{
    background-color:white;
    color: black;
}

.light a.deco-none{
    color:black !important;
    text-decoration:none;
}

.light a.deco-none:hover{
    background-color:gray;
}

.light .modal-content{
    background-color: thistle;
 }

 .light .right_profiles{
    background-color:thistle;
 }
/*------------*/


.f-16{
    font-size: 16px;
}

.f-20{
    font-size: 20px;
}

.profilePic{
    min-width:49px;
    max-width:100px;
}

.profileBanner{
    height: 200px;
    width: 100%;
}

textarea{
    border: none;
    resize: none;
}

.icon{
    filter: invert(94%) sepia(6%) saturate(0%) hue-rotate(110deg) brightness(105%) contrast(109%);
}