{% extends 'main_template.html' %}
{% load static %}
{% block content %}
    <div class = 'border border-secondary border-top-0 p-1 pl-3'>
            <div class = 'font-weight-bold f-20'>{{ userProfile.username }}</div>
            <div class = 'text-white-50 f-16'>{{ tweets|length }} tweets</div>
        </div>
        <div class = 'border border-secondary font-weight-bold'><img src= "media/{{ userProfile.profile.backgroundPic }}" onerror="this.onerror=null; this.src='{% static 'defaultBanner.jpg' %}'" alt="" class = 'profileBanner'></div>
        <div class = 'border border-secondary p-3'>
            <div class = 'w-100 d-flex'>
                <img src= "media/{{ userProfile.profile.profilePic }}" class='profilePic' onerror="this.onerror=null; this.src='{% static 'defaultPic.jpg' %}'" alt="">
                <div class = 'd-flex flex-row-reverse flex-fill'>
                    <div class = 'd-flex flex-column '>
                        {% if user.username == userProfile.username %}
                            <button  class='btn btn-outline-info badge-pill pt-2 pb-2 pl-3 pr-3 my-auto' data-toggle="modal" data-target="#editProfile">Edit profile</button>
                            {% else %}
                            {% if user.is_authenticated %}
                            <form action='{% url 'profile' userProfile.username %}' method='post'>
                                {% csrf_token %}
                                {% if following %}
                                    <button name='unfollow' type='submit'  class='btn btn-info badge-pill pt-2 pb-2 pl-3 pr-3'>Followed</button>
                                    {% else %}
                                        <button name='follow' type='submit'  class='btn btn-outline-info badge-pill pt-2 pb-2 pl-3 pr-3'>Follow</button>
                                {% endif %}
                            </form>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class = 'font-weight-bold'>{{ userProfile.username }}</div>
            <div class = 'text-white-50'>{{ userProfile.email }}</div><br>
            <div class = 'mt-2 mb-2'>{{ userProfile.profile.bio }}</div><br>
            <div class = 'text-white-50'>Joined {{ userProfile.date_joined }}</div>
            <div class = 'font-weight-bold'><span class='font-weight-normal text-white-50'>Follows </span>{{ followedNum }}<span class='ml-5 font-weight-normal text-white-50'>Followed by </span>{{ followersNum }}</div>
        </div>
        {% for tweet in tweets %}
            <div class = 'border border-secondary d-flex flex-column w-100 p-3'>
                <div class = 'd-flex flex-row w-100'>
                    <div class = 'm-1 text-white-50 flex-fill'>{{tweet.author}} &#8226;&#8226;&#8226;  {{tweet.timeStamp}}</div>
                    <div class = 'd-flex flex-row-reverse flex-fill'>
                        <div>
                        <form action='{% url 'profile' username=user.username tweetID=tweet.id %}' method='post'>
                            {% csrf_token %}
                            <button type='submit' name='delete' class = 'btn btn-info badge-pill pt-2 pb-2 pl-3 pr-3'>Delete</button></a>
                        </form>
                        </div>
                    </div>
                </div>
                <div class = 'm-1'>{{tweet.content}}</div>
                <div class = 'm-1 text-white-50'><img src={% static 'heart.png' %} onClick="changeImage(this)" class = 'icon mr-2'>{{tweet.likes.count}} <img src={% static 'comment.png' %} class = 'icon ml-5 mr-2'> Y</div>
            </div>
        {% endfor %}
        <script>
            function changeImage(thi) {
                if (thi.getAttribute("src") == "{% static 'heart.png' %}")
                {
                    thi.setAttribute("src", "{% static 'heartC.png' %}");
                    thi.classList.remove('icon')
                }
                else
                {
                    thi.setAttribute("src", "{% static 'heart.png' %}");
                    thi.classList.add('icon')
                }  
            }
        </script>  
        <!-- MODAL -->
        <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form action='{% url 'profile' user.username %}' method='post' enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Edit profile</h4>
                        </div>
                        <div class="modal-body">
                            Profile banner:
                            <input type="file" name="banner" accept="image/*" class="form-control-file"><br><br>
                            Profile photo:
                            <input type="file" name="pic" accept="image/*" class="form-control-file"><br><br>
                            Profile bio:
                            <textarea class='w-100 m-1 input border' name='bio' rows='5'>{{ userProfile.profile.bio }}</textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info m-2 badge-pill pt-2 pb-2 pl-3 pr-3" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-info m-2 badge-pill pt-2 pb-2 pl-3 pr-3">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END -->
{% endblock content %}