{% load static %}
<div class = 'container'>
    <div class='right_profiles w-75'>
        <div class='m-2 p-2'>Recommended profiles:</div>
        {% for userProfile in rec_profiles %}
            <div class = 'border-top m-2 p-3 d-flex flex-row'>
                <div clas='my-auto flex-fill'>
                    <img src="media/{{userProfile.profile.profilePic}}" class='profilePic'  onerror="this.onerror=null; this.src='{% static 'defaultPic.jpg' %}'" alt="">
                    {{userProfile.username}}
                </div>
                <div class='d-flex flex-row-reverse flex-fill'>
                    <div class='my-auto'>
                        {% include 'follow_button.html' %}
                    </div>
                </div>  
            </div>
        {% endfor %}
    </div>
</div>