{% load static %}
<div class = 'm-1 text-white-50'>{{tweet.author}} &#8226;&#8226;&#8226;  {{tweet.timeStamp}}</div>
<div class = 'd-flex flex-row-reverse flex-fill'>
    <div>
        {% if user.username in request.path %}
            {% if user.username == tweet.author %}
            <form action='{% url 'delete_post' tweet.id %}' method='post'>
                {% csrf_token %}
                <button type='submit' name='delete' class = 'btn btn-info badge-pill pt-2 pb-2 pl-3 pr-3'>Delete</button></a>
            </form>
            {% endif %}
        {% endif %}
    </div>
</div>
<div class = 'm-1'>{{tweet.content}}</div>
<div class = 'ml-1 text-white-50 pb-0'>
    <br>
    <form action='like_post' method='post' class='mb-0'>
        {% csrf_token %}
        <input type='image' src={% if user in tweet.likes.all %}
        {% static 'heartC.png' %}
        class = 'mr-2'
        {% else %}
        {% static 'heart.png' %}
        class = 'icon mr-2'
        {% endif %} 
        id='like' onClick="changeImage(this)"  value='{{ tweet.id }}' alt='Submit'>
        {{tweet.likes.count}} <img src={% static 'comment.png' %} class = 'icon ml-5 mr-2'> Y
    </form>
</div>